---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetFriendList/v1?key=<STEAM_KEY>&steamid=<STEAM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"friendslist":{"friends":[{"steamid":"76561198274628186","relationship":"friend","friend_since":1627222081},{"steamid":"76561198376062883","relationship":"friend","friend_since":1625925174},{"steamid":"76561198383470383","relationship":"friend","friend_since":1646406466},{"steamid":"76561199180185538","relationship":"friend","friend_since":1623665393}]}}'
  recorded_at: Tue, 20 Dec 2022 09:38:01 GMT
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v2?key=<STEAM_KEY>&steamids=<STEAM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"players":[{"steamid":"<STEAM_ID>","communityvisibilitystate":3,"profilestate":1,"personaname":"Cherise","profileurl":"https://steamcommunity.com/profiles/<STEAM_ID>/","avatar":"https://avatars.akamai.steamstatic.com/bfb337605c9fec8dee39bb2c2a230f8a25c91396.jpg","avatarmedium":"https://avatars.akamai.steamstatic.com/bfb337605c9fec8dee39bb2c2a230f8a25c91396_medium.jpg","avatarfull":"https://avatars.akamai.steamstatic.com/bfb337605c9fec8dee39bb2c2a230f8a25c91396_full.jpg","avatarhash":"bfb337605c9fec8dee39bb2c2a230f8a25c91396","personastate":0,"realname":"YU
        TING","primaryclanid":"103582791429521408","timecreated":1472364901,"personastateflags":0}]}}'
  recorded_at: Tue, 20 Dec 2022 09:38:01 GMT
- request:
    method: get
    uri: http://api.steampowered.com/IPlayerService/GetOwnedGames/v1?key=<STEAM_KEY>&steamid=<STEAM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Eresult:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response":{"game_count":33,"games":[{"appid":239030,"playtime_forever":0,"playtime_windows_forever":0,"playtime_mac_forever":0,"playtime_linux_forever":0,"rtime_last_played":0},{"appid":271590,"playtime_forever":216,"playtime_windows_forever":216,"playtime_mac_forever":0,"playtime_linux_forever":0,"rtime_last_played":1631371775},{"appid":238320,"playtime_forever":80,"playtime_windows_forever":80,"playtime_mac_forever":0,"playtime_linux_forever":0,"rtime_last_played":1631979081},{"appid":381210,"playtime_forever":210,"playtime_windows_forever":206,"playtime_mac_forever":0,"playtime_linux_forever":0,"rtime_last_played":1623680773},{"appid":391540,"playtime_forever":0,"playtime_windows_forever":0,"playtime_mac_forever":0,"playtime_linux_forever":0,"rtime_last_played":0},{"appid":400630,"playtime_forever":0,"playtime_windows_forever":0,"playtime_mac_forever":0,"playtime_linux_forever":0,"rtime_last_played":0},{"appid":280790,"playtime_forever":48,"playtime_windows_forever":0,"playtime_mac_forever":0,"playtime_linux_forever":0,"rtime_last_played":1472401395},{"appid":414700,"playtime_forever":0,"playtime_windows_forever":0,"playtime_mac_forever":0,"playtime_linux_forever":0,"rtime_last_played":0},{"appid":440880,"playtime_forever":0,"playtime_windows_forever":0,"playtime_mac_forever":0,"playtime_linux_forever":0,"rtime_last_played":0},{"appid":477160,"playtime_2weeks":53,"playtime_forever":109,"playtime_windows_forever":109,"playtime_mac_forever":0,"playtime_linux_forever":0,"rtime_last_played":1670601781},{"appid":535930,"playtime_forever":537,"playtime_windows_forever":537,"playtime_mac_forever":0,"playtime_linux_forever":0,"rtime_last_played":1623917441},{"appid":597760,"playtime_forever":0,"playtime_windows_forever":0,"playtime_mac_forever":0,"playtime_linux_forever":0,"rtime_last_played":0},{"appid":613100,"playtime_forever":342,"playtime_windows_forever[...]
[...]
- request:
    method: get
    uri: https://store.steampowered.com/api/appdetails?appids=1091500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 20 Dec 2022 09:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"1091500":{"success":false}}'
  recorded_at: Tue, 20 Dec 2022 09:38:02 GMT
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v2?key=<STEAM_KEY>&steamids=76561198274628186
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"players":[{"steamid":"76561198274628186","communityvisibilitystate":3,"profilestate":1,"personaname":"Black
        Parade","profileurl":"https://steamcommunity.com/profiles/76561198274628186/","avatar":"https://avatars.akamai.steamstatic.com/32a21b2941b9360c637c65ba4bf933fc9ba93374.jpg","avatarmedium":"https://avatars.akamai.steamstatic.com/32a21b2941b9360c637c65ba4bf933fc9ba93374_medium.jpg","avatarfull":"https://avatars.akamai.steamstatic.com/32a21b2941b9360c637c65ba4bf933fc9ba93374_full.jpg","avatarhash":"32a21b2941b9360c637c65ba4bf933fc9ba93374","personastate":0,"realname":"Laylay","primaryclanid":"103582791429521408","timecreated":1451895379,"personastateflags":0,"loccountrycode":"TW"}]}}'
  recorded_at: Tue, 20 Dec 2022 09:38:02 GMT
- request:
    method: get
    uri: http://api.steampowered.com/IPlayerService/GetOwnedGames/v1?key=<STEAM_KEY>&steamid=76561198274628186
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Eresult:
      - '15'
    body:
      encoding: UTF-8
      string: '{"response":{}}'
  recorded_at: Tue, 20 Dec 2022 09:38:02 GMT
[...]
- request:
    method: get
    uri: http://api.steampowered.com/ISteamUser/GetFriendList/v1?key=<STEAM_KEY>&steamid=wefsvsvva
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<html><head><title>Internal Server Error</title></head><body><h1>Internal
        Server Error</h1>Unknown problem determining WebApi request destination.</body></html>"
  recorded_at: Tue, 20 Dec 2022 10:10:00 GMT
recorded_with: VCR 6.1.0
